html, body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    font-size: calc(16px + 2vmin);
}

.current-weather-container {
    overflow: hidden;
    height: 50%;
    text-align: center;
    margin-top: -75px;
}

#current-weather {
    font-size: 100px;
    height: 50px;
}

#city {
    margin-left: 25px;
    text-align: center;
}

#current-date {
    margin-top: -20px;
    text-align: center;
    font-size: 14px;
    color: #c1c1c1;
}

.day-weather-container {
    border-top: 1px solid #ffffff3b;
    border-bottom: 1px solid #ffffff3b;
    width: 95%;
    height: 150px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.day-weather-container div {
    text-align: center;
    margin-top: 5px;
}

.day-weather-container p {
    margin-top: 10px;
}

.forecast-container {
    width: 95vw;
    height: 75px;
}

.forecast-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #ffffff3b;

}

#toggle-button {
    border: 0;
    background-color: transparent;
    color: #fff;
    transition: all 0.5s ease;
}

#toggle-button:hover {
    transform: rotate(20deg);
}

#toggle-button:focus {
    outline: 0;
}


.rotate {
    transition: all 0.5s ease;
}

.rotate:hover {
    transform: rotate(20deg);
}

input[type="text"] {
    width: 150px;
    height: 20px;
    padding-right: 50px;
    display: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff80;
    color: #fff;
    margin-top: 10px;
}

 input[type="text"]:focus {
    width: 150px;
    outline: none;
} 

#search-button {
    margin-left: 160px;
    margin-top: -26px;
    height: 25px;
    width: 50px;
    border: 0;   
    background-color: transparent;
    color: #fff;
    display: none;
}

.search-bar {
    height: 25px;
}

.sliding-background {
    height: 500px;
    width: 1260px;
    background: url("../img/clouds4.png") no-repeat;
    animation: slide 120s linear infinite;
    top: 2%;    
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    overflow-x: hidden;
}



@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1260px, 0, 0); /* bildens width */
    }
}

